.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 180px;
}
button {
  background: #7F1C34;
  color: white;
  box-shadow: 2px 2px 16px -4px #000000;
  font-weight: 600;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}
.arrows img {
  border: none;
  display: block;
  height: auto;
  max-width: 65%;
  margin: 0 auto;
  filter: invert(1);
}

@media (min-width:320px){
  .App-header {
    button {
      width: fit-content;
      padding: 5px;
    }
  }
}